

body {font-family:sans-serif;
  font-size: 16px;
  background: #f9f9f9;
  }
  form {
    width: 300px;
    background: #fff;
    padding: 15px 40px 40px;
    border:1px solid #ccc;
    margin:50px auto 0;
    border-radius:5px;
  }
  
  
  label {
    display:block;
    margin-bottom:5px;
  }

  
  .parent{
    width:80%;
    margin:auto;
    overflow: hidden;
    background-color:f4f4f4;
  }
  input[type="submit"]{
    font-size:110%;
    font-weght:100;
    background: #006dcc;
    border-color:#016bc1;
    box-shadow: 0 3px 0 #0165b6;
    color: #fff;
    margin-top: 10px;
    cursor:pointer;
  }
  .container { 
      
    width:80%;
    margin:auto;
    text-align: center;
    overflow: hidden;
    background-color:f4f4f4;}
.chapter{    width: 300px;
  background: f4f4f4;
  padding: 15px 40px 40px;
text-align: center;
  margin:50px auto 0;
    
      

  }
  .special-heading{
    color:#7978;
    font-size: 100px;
    text-align: center;
    font-weight:800;
    letter-spacing: -3px;
    margin: 0; 
  }
  .special-heading + p{
    margin: -3px 0 0;
    font-size: 20px;
    text-align:center;
    color:#797979
  }
     
  .resultt{     
    width:auto;
    color: #5a5858;
    margin:auto;
    font-size: 30px;
    text-align: center;
    overflow: hidden;
    background-color:#fff;

  }
 
  
  
  
  table {color:black;font-weight:bold;
    font-family: sans-serif;
    font-size: 20pt;
    background: whitesmoke;
  }
  
  submit {width: 100%;
    text-align: center;
  color: red;}
  
/* header */

*{ 
    margin: 0; 
    padding: 0; 
  }
  
  /*set a link to give people using screen readers an option to skip the navigation and go directly to the main page content */
  .skip-to-main-content {
    margin-left: -900px;
  }
  
  /* Fix navigation to create a sticky nav bar */
  nav {
    position: fixed;
    margin-top: -20px;
    width: 100%;
    background-color: #5a5858;
    padding: 0 25px;  
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    /* display-style: none; */
  }
  
  nav li {
    display: inline-block;
    width: 70px;
    color: white ;
    text-align: center; 
    padding: 10px 0;
  }
  nav li a{
    color: white;
    text-decoration: none;
  }
  
  nav li:active {
    background-color: #333333;
  }
  
  nav li:hover {
    background-color: #333333;
  }
  
  nav button {
    display: none;
  }
  
  /* make the nav bar adapt to small screen sizes */
  @media (max-width: 500px) {
      nav li {
      display: block;
        width: 100%;
        border-bottom: 1px solid white;
        padding: 5px 0;
        
    }
    
    nav {
      padding: 10px 0 0 0;
    }
/*end header*/  